h1, h2, #resultado{
    color: rgb(4, 77, 73);
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}


form {
   
    margin: 0 auto;
    width: 450px;
    padding: 2em;
    border: 1px solid blue;
    border-radius: 1em;
}

form div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    font: 1em sans-serif;
    width: 90px;
    margin-top: 1em;
    
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: rgb(3, 21, 128);
}

.button {
    padding-left: 90px;
}
button {
    display:inline  ;
    align-items: center;
    margin-top: 1.5em;
    margin-left: 1em;
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 20px;
    width: 6.5em;
    height: 5vh;
}
